<mat-drawer-container>
  <mat-drawer mode="over" position="end" #table_update [opened]="is_table_being_updated" disableClose="true">
    <div>
      <app-edit-user (closeAddUser)="closeUserDeatils($event)" *ngIf="is_table_being_updated" [valueForm]="row"></app-edit-user>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <table *ngIf="customer && customer.length" mat-table [dataSource]="dataSource" style="width:100%">
      <ng-container *ngFor="let column of columns;" [matColumnDef]="column.key">
        <th mat-header-cell *matHeaderCellDef>{{column.heading}}</th>
        <td mat-cell *matCellDef="let table_row">
          <mat-checkbox *ngIf="column.checkbox && table_row[column.key]" [checked]="table_row[column.key]" [disabled]="true"></mat-checkbox>
          <ng-container *ngIf="!column.checkbox">{{table_row[column.key]}}</ng-container>
        </td>
      </ng-container>

      <!--edit Column-->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let table_row">
          <button mat-button  (click)="editRow(table_row)">edit</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="action">
      <button mat-button (click)="addRow()">add</button>
    </div>

  </mat-drawer-content>

</mat-drawer-container>


